<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gwen.smartlight.mapper.SensorMapper">

    <select id="getAllSensorRealTimeData" resultType="com.gwen.smartlight.dto.web.SensorRealTimeData">
        SELECT
            tb.light_id,
            light.location,
            tb.temperature,
            tb.humidity,
            tb.wind_speed
        FROM(
                SELECT
                    *,
                    ROW_NUMBER() over (PARTITION BY light_id ORDER BY create_time DESC) AS rn
                FROM sensor
            ) AS tb,light

        WHERE tb.light_id=light.id and rn=1
    </select>

</mapper>